{ 
	"env": {
		"es6": true,
		"browser": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"extends": "eslint:recommended",
	"rules": {
		"eqeqeq": "off",
		"curly": "error",
		"quotes": ["error", "single"]
	}
	
}